.Header
{
	margin: auto;
	position:relative;
	display:block;
	width:100%;
	height:50px;
	background-color:white;
	display:flex;
	align-items:center;
	justify-content:center;
	padding-left: 20px;
	padding-right: 20px;
}
.Container
{
	margin: auto;
	position:relative;
	display:block;
	width:100%;
	height:100%;
	padding-left: 20px;
	padding-right:20px;
	background-color: green;
	display:flex;
	align-items: center;
	justify-content: center;
	flex :1;
	line-height: 50%;
}
.Footer
{
	margin:auto;
	position:relative;
	display:block;
	width:100%;
	height:50px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: red;
	position:fixed;
	bottom:0;
}
.Logo
{
	position:relative;
	display:block;
	width:15%;
	height:50px;
	background-color: yellow;
	font-size: 12px;
	display:flex;
	justify-content: center;
	line-height: 25px;
}
.Register
{
	position:relative;
	display:block;
	width:15%;
	height:50px;
	background-color: red;
	font-size: 12px;
	display: flex;
	justify-content: center;
	line-height: 25px;
}
.Login
{
	position:relative;
	display:block;
	width:15%;
	height:50px;
	background-color: grey;
	font-size: 12px;
	display:flex;
	justify-content: center;
	line-height: 25px;
}
.YourName
{
	position:relative;
	display:block;
	height:50px;
	width:55%;
	background-color:blue;
	font-size: 12px;
	display:flex;
	justify-content: center;
	line-height: 25px;
}
.page
{
	position:relative;
	display:flex;
	flex:1;
	flex-direction: column;
}
.Loginbox
{
	position:relative;
	margin:auto;
	width:300px;
	height:300px;
}